<template>
    <app-layout>
        <div class="py-12">
            <div class="container mx-auto">
                <div class="bg-white shadow-xl sm:rounded-lg p-10">
                    <div class="text-xl font-bold">Contact us!</div>
                    <div class="text-lg mt-5">
                        If you need to talk to us about any specific job or about the service level or any other
                        specific
                        requirements you may have please use our form below.
                    </div>
                    <form @submit.prevent="sendEmail">
                        <Input v-model="name" placeholder="Name" class="w-full mt-5"/>
                        <InputError v-if="errors.name" :message="errors.name[0]"/>
                        <Input v-model="email" type="email" placeholder="Email" class="w-full mt-3"/>
                        <InputError v-if="errors.email" :message="errors.email[0]"/>
                        <Input v-model="subject" placeholder="Subject" class="w-full mt-3"/>
                        <InputError v-if="errors.subject" :message="errors.subject[0]"/>
                        <textarea v-model="message" placeholder="Write your message here"
                                  class="resize-y mt-3 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>
                        <InputError v-if="errors.message" :message="errors.message[0]"/>
                        <Button class="mt-3" type="submit">Send</Button>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import Input from "../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Input";
    import Label from "../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Label";
    import Button from "../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Button";
    import InputError from "../../Jetstream/InputError";

    export default {
        name: "Contact",
        props: ['errors', 'user'],
        components: {
            Button,
            Label,
            Input,
            AppLayout,
            InputError
        },

        data() {
            return {
                'name': "",
                "email": "",
                "subject": "",
                "message": ""
            }
        },

        created() {
          this.name = this.user.name;
          this.email = this.user.email;
        },

        methods: {
            sendEmail() {
                this.$inertia.post('contact', {
                    'name': this.name,
                    'email': this.email,
                    "subject": this.subject,
                    'message': this.message
                })
            },
        }
    }
</script>

