<template>
    <app-layout>
        <div class="container py-12 mx-auto">
            <div class="bg-white rounded p-10">
                <div class="text-2xl font-bold text-center">About image editing service</div>
                <br/>
                <div class="text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";

    export default {
        name: "AboutImageEditing",
        components: {AppLayout}
    }
</script>

<style scoped>

</style>
