<template>
    <app-layout>
        <div class="container mx-auto">
            <div v-if="!loading">
            <div class="text-center">
                <div class="text-4xl font-bold text-center mx-auto mt-10">Upload your images</div>
                <div class="ml-6 mr-6 mb-4 mt-4 text-center">
                    <div class="col-span-6 sm:col-span-4">
                        <input type="file" class="hidden"
                               accept="image/jpeg, image/png"
                               ref="photo"
                               multiple
                               @change="updatePhotoPreview">

                        <!-- New photos -->

                        <div class="flex flex-wrap">
                            <div v-for="selected in selectedImages"
                                 class="sm:w-1/2 md:w-1/3 lg:w-1/4 w-full rounded mb-1 pr-1">
                                <div class="">
                                    <div
                                        class="bg-white px-6 py-4 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                                        <div class="font-bold text-lg mb-2 text-center">Size: {{selected.width}} x
                                            {{selected.height}}
                                        </div>
                                        <p class="text-gray-700 text-sm text-center">
                                            File size: {{getSizeKb(selected.size)}} Kb
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <jet-secondary-button class="mt-2" type="button"
                                              @click.native.prevent="selectNewPhoto">
                            Select new photos
                        </jet-secondary-button>

                        <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhotos"
                                              v-if="selectedImages.length > 0">
                            Remove photos
                        </jet-secondary-button>

                        <jet-secondary-button type="button" class="mt-2" @click.native.prevent="savePhoto"
                                              v-if="selectedImages.length > 0">
                            Save photos
                        </jet-secondary-button>

                        <div class="text-center">
                            <input v-model="projectName" v-if="selectedImages.length > 0" placeholder="Project name"
                                   class="resize-y mt-5 p-2 border w-1/2 rounded focus:outline-none focus:shadow-outline"/>
                            <p v-if="projectNameError" class="mt-1 mb-2 text-red-400">{{projectNameError}}</p>
                            <textarea v-if="selectedImages.length > 0" v-model="note" placeholder="Write your note here" maxlength="255"
                                      class="resize-y mt-5 p-2 border w-1/2 rounded focus:outline-none focus:shadow-outline"></textarea>

                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="text-4xl font-bold text-center">My created images</div>-->
<!--            <div v-if="$page.images.length > 0" class="flex flex-wrap mx-auto mt-5 -mx-2">-->
<!--                <div v-for="image in $page.images" v-bind:key="image.id"-->
<!--                     class="sm:w-full md:w-1/2 lg:w-1/3 w-full rounded mb-1 pr-1">-->
<!--                    <div>-->
<!--                        <div class="bg-white px-6 py-4 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">-->
<!--                            <div class="text-sm text-center mb-2">-->
<!--                                ID: {{image.id}}-->
<!--                            </div>-->
<!--                            <div class="font-bold text-lg mb-2 text-center">Size: {{image.width}} x {{image.height}}-->
<!--                            </div>-->
<!--                            <p class="text-gray-700 text-sm mb-5 text-center">-->
<!--                                File size: {{getSizeKb(image.size)}} Kb-->
<!--                            </p>-->

<!--                            <div v-if="image.project_name" class="font-bold text-sm text-center">Project name: {{image.project_name}}-->
<!--                            </div>-->

<!--                            <textarea v-if="image.note" disabled :value=image.note maxlength="255" class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                            <div class="text-xs text-gray-700 text-center mb-5">-->
<!--                                Date - {{moment(image.created_at).format("YYYY-MM-DD")}}-->
<!--                                <br/>-->
<!--                                {{moment(image.created_at).format("h:mm a") }}-->
<!--                            </div>-->

<!--                            <div class="text-center mt-3">-->
<!--                                <div class="flex flex-wrap">-->
<!--                                    <div class="w-1/3">-->
<!--                                        <a :href="setImage(image.id)" class="text-blue-700 text-sm text-center">-->
<!--                                            Open-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="w-1/3">-->
<!--                                        <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                             @click="downloadImage(image)">Download-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="w-1/3">-->
<!--                                        <div class="text-red-700 text-sm text-center cursor-pointer"-->
<!--                                             @click="removePhoto(image)">Remove-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div v-else>-->
<!--                <div-->
<!--                    class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"-->
<!--                    role="alert">-->
<!--                    <span class="block sm:inline">You don't have any created images!</span>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="text-4xl font-bold text-center mt-5 mb-3">Edited <font-awesome-icon icon="check"/></div>-->

<!--                <div v-if="filteredEditedImages.length > 0">-->
<!--                    <table class="table-auto bg-white border w-full sm:w-full md:w-full lg:w-2/3 mx-auto">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th class="px-4 py-2 border">Uploaded image</th>-->
<!--                            <th class="px-4 py-2 border">Edited image</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr v-for="image in filteredEditedImages" v-bind:key="image.id">-->
<!--                            <td class="border px-4 py-2">-->

<!--                                <div class="text-sm text-center mb-2">-->
<!--                                    ID: {{image.uploaded_image.id}}-->
<!--                                </div>-->

<!--                                <div class="font-bold text-sm mb-2 text-center">Size:-->
<!--                                    {{image.uploaded_image.width}} x {{image.uploaded_image.height}}-->
<!--                                </div>-->
<!--                                <p class="text-gray-700 text-xs mb-5 text-center">-->
<!--                                    File size: {{getSizeKb(image.uploaded_image.size)}} Kb-->
<!--                                </p>-->

<!--                                <div v-if="image.uploaded_image.project_name" class="font-bold text-sm text-center">Project name: {{image.uploaded_image.project_name}}-->
<!--                                </div>-->

<!--                                <textarea v-if="image.note" disabled :value=image.uploaded_image.note maxlength="255"-->
<!--                                          class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                                <div class="text-xs text-gray-700 text-center mb-5">-->
<!--                                    Date - {{moment(image.uploaded_image.created_at).format("YYYY-MM-DD")}}-->
<!--                                    <br/>-->
<!--                                    {{moment(image.uploaded_image.created_at).format("h:mm a") }}-->
<!--                                </div>-->

<!--                                <div class="flex flex-wrap">-->
<!--                                    <div class="w-1/2 text-center">-->
<!--                                        <a :href="setImage(image.uploaded_image.id)"-->
<!--                                           class="text-blue-700 text-sm text-center">-->
<!--                                            Open-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="w-1/2 text-center">-->
<!--                                        <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                             @click="downloadImage(image.uploaded_image)">Download-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->

<!--                            <td class="border px-4 py-2">-->
<!--                                <div>-->
<!--                                    <div class="text-sm text-center mb-2">-->
<!--                                        ID: {{image.id}}-->
<!--                                    </div>-->
<!--                                    <div class="font-bold text-sm mb-2 text-center">Size: {{image.width}} x-->
<!--                                        {{image.height}}-->
<!--                                    </div>-->
<!--                                    <p class="text-gray-700 mb-5 text-xs text-center">-->
<!--                                        File size: {{getSizeKb(image.size)}} Kb-->
<!--                                    </p>-->

<!--                                    <div v-if="image.uploaded_image.project_name" class="font-bold text-sm text-center">Project name: {{image.uploaded_image.project_name}}-->
<!--                                    </div>-->

<!--                                    <textarea v-if="image.note" disabled :value=image.note-->
<!--                                              maxlength="255"-->
<!--                                              class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                                    <p class="font-bold text-sm text-center">-->
<!--                                        Edited by - {{image.editor.name}}-->
<!--                                    </p>-->
<!--                                    <p class="text-gray-700 text-xs text-center">-->
<!--                                        {{image.editor.email}}-->
<!--                                    </p>-->

<!--                                    <br/>-->

<!--                                    <div class="text-xs text-gray-700 text-center mb-5">-->
<!--                                        Date - {{moment(image.updated_at).format("YYYY-MM-DD")}}-->
<!--                                        <br/>-->
<!--                                        {{moment(image.updated_at).format("h:mm a") }}-->
<!--                                    </div>-->

<!--                                    <div class="flex flex-wrap">-->
<!--                                        <div class="w-1/2 text-center">-->
<!--                                            <a :href="setEditedImage(image.id)"-->
<!--                                               class="text-blue-700 text-sm text-center">-->
<!--                                                Open-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="w-1/2 text-center">-->
<!--                                            <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                                 @click="downloadEditedImage(image)">Download-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--                <div v-else>-->
<!--                    <div-->
<!--                        class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"-->
<!--                        role="alert">-->
<!--                        <span class="block sm:inline">No images found</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div v-else>
                <Loading/>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import JetSecondaryButton from "../../Jetstream/SecondaryButton";
    import InputError from "../../Jetstream/InputError";
    import Loading from "../../Shared/Loading";
    import moment from 'moment';

    export default {
        name: "Index",
        components: {
            Loading,
            AppLayout,
            JetSecondaryButton,
            InputError
        },
        props: ['errors', 'user'],
        data() {
            return {
                selectedImages: [],
                loading: false,
                'moment': moment,
                note: "",
                projectName: "",
                projectNameError: null,
            }
        },

        computed: {
            filteredEditedImages() {
                return this.$page.editedImages.filter(e => e.uploaded_image.client_id === this.user.id);
            }

        },

        methods: {
            getSizeKb (val) {
                return (Math.round(val) / 1000).toFixed(2);
            },
            setImage(imageId) {
                return `/client/image/${imageId}`

            },

            setEditedImage(imageId) {
                return `/client/edited-image/${imageId}`

            },

            downloadEditedImage(image) {
                axios({
                    url: `${window.location.origin}/client/edited-image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.editor.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            downloadImage(image) {
                axios({
                    url: `${window.location.origin}/client/image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.client.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            updatePhotoPreview() {
                let files = this.$refs.photo.files;
                let sizes = [];
                let widths = [];
                let heights = [];
                let photoPreviews = [];
                for (let i = files.length - 1; i >= 0; i--) {
                    sizes.push(files[i].size);
                    let reader = new FileReader();
                    reader.onload = evt => {
                        let img = new Image();
                        img.src = evt.target.result;
                        img.onload = () => {
                            widths.push(img.width);
                            heights.push(img.height);
                        }
                        photoPreviews.push(evt.target.result);
                    }

                    reader.onerror = evt => {
                        console.error(evt);
                    }
                    reader.readAsDataURL(files[i]);
                }

                let images = [...this.selectedImages];

                setTimeout(function () {
                    let id = images.length + 1;
                    for (let i = files.length - 1; i >= 0; i--) {
                        images.push({
                            'id': id++,
                            'size': sizes[i],
                            'width': widths[i],
                            'height': heights[i],
                            'photoPreview': photoPreviews[i],
                        })
                    }
                }, 1000);

                this.selectedImages = images;

            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            deletePhotos() {
                this.selectedImages = [];
                this.$refs.photo.value = "";
                this.projectNameError = "";
            },

            async savePhoto() {
                if(this.projectName == "") {
                    this.projectNameError = "Please provide a name here.";
                }  else {
                    this.loading = true;
                    this.projetNameError = null;
                    await this.$inertia.post('/savePhoto', {
                        'images': this.selectedImages,
                        'client_id': this.user.id,
                        'note': this.note,
                        'project_name': this.projectName,
                    }).then(() => {
                        this.selectedImages = [];
                        this.loading = false;
                    }).finally(() => {
                        this.$refs.photo.value = null;
                    })
                }
            },

            removePhoto(image) {
                this.$swal.fire({
                    title: `Delete ${image.filename}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.$inertia.delete(`/image/delete/${image.id}`);
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
