<template>
    <app-layout>
        <div class="py-6 container mx-auto">
            <div v-if="!loading">
                <div class="text-center">
                    <div class="ml-6 mr-6 mb-4 mt-4 text-center">
                        <div class="col-span-6 sm:col-span-4">
                            <!-- Profile Photo File Input -->

                            <!-- current -->
                            <div class="flex flex-wrap">
                                <div class="w-full sm:w-full md:w-full lg:w-1/2 mt-5">
                                    <div class="mt-2">
                                        <div class="text-4xl font-bold text-center">Client image</div>
                                        <div class="flex flex-wrap">
                                            <div class="w-full">
                                                <img width="500" class="mx-auto rounded mb-4"
                                                     :src="setImage($page.editImage[0].id)"/>
                                                <div class="font-bold text-lg mb-1 text-center">
                                                    Size: {{$page.editImage[0].width }} x {{$page.editImage[0].height}}
                                                </div>
                                                <p class="text-gray-700 text-sm text-center mb-2">
                                                    File size: {{getSizeKb($page.editImage[0].size)}} Kb
                                                </p>
                                                <p class="text-gray-700 text-sm text-center mb-2">
                                                    Uploaded by {{$page.editImage[0].client.name}}
                                                </p>
                                                <p class="text-gray-700 text-xs text-center mb-2">
                                                    {{$page.editImage[0].client.email}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full sm:w-full md:w-full lg:w-1/2 mt-5">
                                    <div class="text-4xl font-bold text-center mx-auto">My edited image</div>
                                    <div class="mt-2" v-show="photoPreview">
                                        <div class="flex flex-wrap">
                                            <div class="w-full">
                                                <img width="500" class="mx-auto rounded mb-4" :src="photoPreview"/>
                                                <div class="font-bold text-lg mb-1 text-center">
                                                    Size: {{imageInfo.width }} x {{imageInfo.height}}
                                                </div>
                                                <p class="text-gray-700 text-sm text-center mb-2">
                                                    File size: {{getSizeKb(imageInfo.size)}} Kb
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <form @submit.prevent="updatePhoto" method="post" enctype="multipart/form-data">
                                        <input type="file" class="hidden"
                                               accept="image/jpeg, image/png"
                                               ref="photo"
                                               @change="updatePhotoPreview">
                                        <jet-secondary-button type="submit" class="mt-2"
                                                              v-if="photoPreview">
                                            Update photo
                                        </jet-secondary-button>
                                    </form>

                                    <div class="text-center mx-auto">
                                        <jet-secondary-button class="mt-2 text-center" type="button"
                                                              @click.native.prevent="selectNewPhoto">
                                            Select a photo
                                        </jet-secondary-button>

                                        <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhoto"
                                                              v-if="photoPreview">
                                            Remove Photo
                                        </jet-secondary-button>
                                    </div>

                                    <textarea v-if="photoPreview" v-model="note" placeholder="Write your note here about the edited image" maxlength="255"class="resize-y mt-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <Loading/>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import JetSecondaryButton from "../../Jetstream/SecondaryButton";
    import InputError from "../../Jetstream/InputError";
    import Loading from "../../Shared/Loading";

    export default {
        name: "EditImage.vue",
        props: ['errors', 'user'],
        components: {
            Loading,
            AppLayout,
            JetSecondaryButton,
            InputError
        },
        data() {
            return {
                photoPreview: null,
                loading: false,
                note: "",
                imageInfo: {
                    width: "",
                    height: "",
                    size: "",
                }
            }
        },
        methods: {
            getSizeKb (val) {
                return (Math.round(val) / 1000).toFixed(2);
            },
            setImage(image) {
                return `/editor/image/${image}`
            },

            updatePhotoPreview() {
                let file = this.$refs.photo.files[0];
                if (!file || file.type.indexOf('image/') !== 0) return;

                this.imageInfo.size = file.size;

                let reader = new FileReader();

                reader.onload = evt => {
                    let img = new Image();
                    img.src = evt.target.result;
                    img.onload = () => {
                        this.imageInfo.width = img.width;
                        this.imageInfo.height = img.height;
                    }
                    this.photoPreview = evt.target.result;
                }

                reader.onerror = evt => {
                    console.error(evt);
                }

                reader.readAsDataURL(file);

            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            deletePhoto() {
                this.photoPreview = null;
                this.$refs.photo.value = null;
            },

            updatePhoto() {
                this.loading = true;
                this.$inertia.put('/updateClientImage', {
                    'id': this.$page.editImage[0].id,
                    'client_id': this.$page.editImage[0].client.id,
                    'image': this.photoPreview,
                    'height': this.imageInfo.height,
                    "width": this.imageInfo.width,
                    'size': this.imageInfo.size,
                    'editor_id': this.user.id,
                    'note': this.note,
                }).then(() => {
                    //window.location.href = "/editor-zips";
                }).catch(() => {
                    this.loading = false;
                })
            }
        }
    }
</script>

