<template>
    <app-layout>
        <div class="py-12 container mx-auto">
            <div class="text-4xl font-bold text-center">Unedited</div>
            <div v-if="$page.images.length > 0" class="flex flex-wrap mx-auto mt-5 -mx-2">
                <div v-for="image in $page.images" v-bind:key="image.id"
                     class="sm:w-full md:w-1/2 lg:w-1/3 w-full rounded mb-1 pr-1">
                    <div>
                        <div class="bg-white px-6 py-4 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                            <div class="text-sm text-center mb-2">
                                ID: {{image.id}}
                            </div>
                            <div class="font-bold text-lg mb-2 text-center">Size: {{image.width}} x {{image.height}}
                            </div>
                            <p class="text-gray-700 mb-5 text-sm text-center">
                                File size: {{getSizeKb(image.size)}} Kb
                            </p>
                            <div v-if="image.project_name" class="font-bold text-sm text-center">Project name: {{image.project_name}}
                            </div>
                            <textarea v-if="image.note" disabled :value=image.note maxlength="255" class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>
                            <p class="font-bold text-sm text-center">
                                Uploaded by - {{image.client.name}}
                            </p>
                            <p class="text-gray-700 text-xs text-center">
                                {{image.client.email}}
                            </p>

                            <div class="text-xs text-gray-700 text-center mb-3 mt-3">
                                Date - {{moment(image.created_at).format("YYYY-MM-DD")}}
                                <br/>
                                {{moment(image.created_at).format("h:mm a") }}
                            </div>
                            <div class="text-center mt-2">
                                <div class="flex flex-wrap">
                                    <div class="w-1/3">
                                        <a :href="setImage(image.id)" class="text-blue-700 text-sm text-center">
                                            Open
                                        </a>
                                    </div>
                                    <div class="w-1/3">
                                        <inertia-link class="text-blue-700 text-center text-sm" :href="route('image.edit', {id: image.id})">
                                           Edit
                                        </inertia-link>
                                    </div>
                                    <div class="w-1/3">
                                        <div class="text-blue-700 text-sm text-center cursor-pointer" @click="downloadImage(image)">Download</div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3">
                                <div class="text-red-700 text-sm text-center cursor-pointer"
                                     @click="removePhoto(image)">Remove
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <span class="block sm:inline">No unedited images found</span>
                </div>
            </div>
            <div class="text-4xl font-bold text-center mt-5">Edited by you <font-awesome-icon icon="check"/></div>
            <div v-if="$page.editedImages.length > 0">
                <table class="table-auto bg-white border w-full sm:w-full md:w-full lg:w-2/3 mx-auto">
                    <thead>
                    <tr>
                        <th class="px-4 py-2 border">Uploaded image</th>
                        <th class="px-4 py-2 border">Edited image</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="image in $page.editedImages" v-bind:key="image.id">
                        <td class="border px-4 py-2">

                            <div class="text-sm text-center mb-2">
                                ID: {{image.uploaded_image.id}}
                            </div>

                            <div class="font-bold text-sm mb-2 text-center">Size:
                                {{image.uploaded_image.width}} x {{image.uploaded_image.height}}
                            </div>
                            <p class="text-gray-700 text-xs mb-5 text-center">
                                File size: {{getSizeKb(image.uploaded_image.size)}} Kb
                            </p>
                            <div v-if="image.uploaded_image.project_name" class="font-bold text-sm text-center">Project name: {{image.uploaded_image.project_name}}
                            </div>
                            <textarea v-if="image.note" disabled :value=image.uploaded_image.note maxlength="255"
                                      class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                            <div class="text-xs text-gray-700 text-center mb-5">
                                Date - {{moment(image.uploaded_image.created_at).format("YYYY-MM-DD")}}
                                <br/>
                                {{moment(image.uploaded_image.created_at).format("h:mm a") }}
                            </div>

                            <div class="flex flex-wrap">
                                <div class="w-1/2 text-center">
                                    <a :href="setImage(image.uploaded_image.id)"
                                       class="text-blue-700 text-sm text-center">
                                        Open
                                    </a>
                                </div>
                                <div class="w-1/2 text-center">
                                    <div class="text-blue-700 text-sm text-center cursor-pointer"
                                         @click="downloadImage(image.uploaded_image)">Download
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="border px-4 py-2">
                            <div>
                                <div class="text-sm text-center mb-2">
                                    ID: {{image.id}}
                                </div>
                                <div class="font-bold text-sm mb-2 text-center">Size: {{image.width}} x
                                    {{image.height}}
                                </div>
                                <p class="text-gray-700 mb-5 text-xs text-center">
                                    File size: {{getSizeKb(image.size)}} Kb
                                </p>

                                <div v-if="image.uploaded_image.project_name" class="font-bold text-sm text-center">Project name: {{image.uploaded_image.project_name}}
                                </div>

                                <textarea v-if="image.note" disabled :value=image.note
                                          maxlength="255"
                                          class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                <p class="font-bold text-sm text-center">
                                    Edited by - {{image.editor.name}}
                                </p>
                                <p class="text-gray-700 text-xs text-center">
                                    {{image.editor.email}}
                                </p>

                                <br/>

                                <div class="text-xs text-gray-700 text-center mb-5">
                                    Date - {{moment(image.updated_at).format("YYYY-MM-DD")}}
                                    <br/>
                                    {{moment(image.updated_at).format("h:mm a") }}
                                </div>

                                <div class="flex flex-wrap">
                                    <div class="w-1/2 text-center">
                                        <a :href="setEditedImage(image.id)"
                                           class="text-blue-700 text-sm text-center">
                                            Open
                                        </a>
                                    </div>
                                    <div class="w-1/2 text-center">
                                        <div class="text-blue-700 text-sm text-center cursor-pointer"
                                             @click="downloadEditedImage(image)">Download
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div
                    class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"
                    role="alert">
                    <span class="block sm:inline">No images found</span>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import moment from "moment";
    export default {
        name: "EditorImages",
        components: {AppLayout},
        data() {
            return {
                moment: moment
            }
        },
        methods: {
            getSizeKb (val) {
                return (Math.round(val) / 1000).toFixed(2);
            },
            setImage(image) {
                return `/editor/image/${image}`
            },

            setEditedImage(imageId) {
                return `/editor/edited-image/${imageId}`

            },

            downloadImage(image) {
                axios({
                    url: `${window.location.origin}/editor/image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.client.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedImage(image) {
                axios({
                    url: `${window.location.origin}/editor/edited-image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.editor.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            removePhoto(image) {
                this.$swal.fire({
                    title: `Delete ${image.filename}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.$inertia.delete(`/editor/image/delete/${image.id}`);
                    }
                })
            }
        }
    }
</script>
