<template>
    <app-layout>
        <div class="container mx-auto py-6">
                    <div v-if="image">
                        <table class="table-auto bg-white border w-full sm:w-full md:w-full lg:w-2/3 mx-auto">
                            <thead>
                            <tr>
                                <th class="px-4 py-2 border">Uploaded image
                                    <br/>
                                    <inertia-link v-if="!image.is_edited && $page.role.role_id == 2" class="text-blue-700 text-center text-sm" :href="route('image.edit', {id: image.id})">
                                        Edit
                                    </inertia-link>
                                </th>
                                <th class="px-4 py-2 border">Edited image</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  v-bind:key="image.id">
                                <td class="border px-4 py-2">

                                    <div class="text-sm text-center mb-2">
                                        ID: {{image.id}}
                                    </div>

                                    <div class="font-bold text-sm mb-2 text-center">Size:
                                        {{image.width}} x {{image.height}}
                                    </div>
                                    <p class="text-gray-700 text-xs mb-5 text-center">
                                        File size: {{getSizeKb(image.size)}} Kb
                                    </p>
                                    <div v-if="image.project_name" class="font-bold text-sm text-center">Project name: {{image.project_name}}
                                    </div>
                                    <textarea v-if="image.note" disabled :value=image.note maxlength="255"
                                              class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                    <p class="font-bold text-sm text-center">
                                        Uploaded by - {{image.client.name}}
                                    </p>
                                    <p class="text-gray-700 text-xs text-center">
                                        {{image.client.email}}
                                    </p>

                                    <br/>

                                    <div class="text-xs text-gray-700 text-center mb-5">
                                        Date - {{moment(image.created_at).format("YYYY-MM-DD")}}
                                        <br/>
                                        {{moment(image.created_at).format("h:mm a") }}
                                    </div>

                                    <div class="flex flex-wrap">
                                        <div class="w-1/2 text-center">
                                            <a :href="setImage(image.id)"
                                               class="text-blue-700 text-sm text-center">
                                                Open
                                            </a>
                                        </div>
                                        <div class="w-1/2 text-center">
                                            <div class="text-blue-700 text-sm text-center cursor-pointer"
                                                 @click="downloadImage(image)">Download
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="border px-4 py-2">
                                    <div v-if="image.is_edited === 1">
                                        <div class="font-bold text-sm mb-2 text-center">Size: {{image.edited_image.width}} x
                                            {{image.edited_image.height}}
                                        </div>
                                        <p class="text-gray-700 mb-5 text-xs text-center">
                                            File size: {{getSizeKb(image.edited_image.size)}} Kb
                                        </p>

                                        <div v-if="image.project_name" class="font-bold text-sm text-center">Project name: {{image.project_name}}
                                        </div>

                                        <textarea v-if="image.edited_image.note" disabled :value=image.edited_image.note
                                                  maxlength="255"
                                                  class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                        <p class="font-bold text-sm text-center">
                                            Edited by - {{image.edited_image.editor.name}}
                                        </p>
                                        <p class="text-gray-700 text-xs text-center">
                                            {{image.edited_image.editor.email}}
                                        </p>

                                        <br/>

                                        <div class="text-xs text-gray-700 text-center mb-5">
                                            Date - {{moment(image.updated_at).format("YYYY-MM-DD")}}
                                            <br/>
                                            {{moment(image.updated_at).format("h:mm a") }}
                                        </div>

                                        <div class="flex flex-wrap">
                                            <div class="w-1/2 text-center">
                                                <a :href="setEditedImage(image.edited_image.id)"
                                                   class="text-blue-700 text-sm text-center">
                                                    Open
                                                </a>
                                            </div>
                                            <div class="w-1/2 text-center">
                                                <div class="text-blue-700 text-sm text-center cursor-pointer"
                                                     @click="downloadEditedImage(image.edited_image)">Download
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center mx-auto" v-else>
                                        <p class="font-bold mb-3 text-sm">Waiting for edit</p>
                                        <font-awesome-icon icon="clock" size="3x"/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div v-else>
                        <div
                            class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"
                            role="alert">
                            <span class="block sm:inline">No image found</span>
                        </div>
                    </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import moment from "moment";
    export default {
        props: ['image'],
        components: {
            AppLayout
        },
        data() {
            return {
                'moment': moment,
                'role': "",
            }
        },
        created() {
            if(this.$page.role.role_id === 2) {
                this.role = "editor";
            } else if(this.$page.role.role_id === 3) {
                this.role = "client";
            } else if(this.$page.role.role_id === 1) {
                this.role = "admin";
            }
        },
        name: "SingleImage",
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            setImage(image) {
                return `/${this.role}/image/${image}`
            },

            setEditedImage(imageId) {
                return `/${this.role}/edited-image/${imageId}`

            },

            downloadImage(image) {
                axios({
                    url: `${window.location.origin}/${this.role}/image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.client.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedImage(image) {
                axios({
                    url: `${window.location.origin}/${this.role}/edited-image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.editor.name}_${image.filename}`);
                    fileLink.click();
                })
            },
        },
    }
</script>
