<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Users
            </h2>
        </template>

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <p class="text-4xl font-bold mt-5 mb-5 text-center">Editors</p>
                    <div class="flex flex-wrap">
                        <div class="w-full sm:w-full md:w-1/2 lg:w-1/3" v-for="editor in $page.editors">
                            <div class="flex flex-wrap m-2">
                                <div class="w-1/4 mt-2">
                                    <img class="mx-auto w-16 h-16 object-cover rounded-full" :src="setImage(editor)">
                                </div>
                                <div class="w-3/4 mt-4 p-2">
                                    <div class="text-sm">
                                        <div class="flex flex-wrap">
                                            <div class="w-3/4">
                                                <p class="text-gray-900 leading-none">{{editor.name}}</p>
                                            </div>
                                            <div class="w-1/4">
                                                <inertia-link :href="route('user.edit', {id: editor.id})">
                                                    <font-awesome-icon class="cursor-pointer" icon="edit"/>
                                                </inertia-link>
                                            </div>
                                        </div>
                                        <p class="text-gray-600 text-xs">{{editor.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-4xl font-bold mt-5 mb-5 text-center">Clients</p>
                    <div class="flex flex-wrap">
                        <div class="w-full sm:w-full md:w-1/2 lg:w-1/3" v-for="client in $page.clients">
                            <div class="flex flex-wrap m-2">
                                <div class="w-1/4 mt-2">
                                    <img class="mx-auto w-16 h-16 object-cover rounded-full" :src="setImage(client)">
                                </div>
                                <div class="w-3/4 mt-4 p-2">
                                    <div class="text-sm">
                                        <div class="flex flex-wrap">
                                            <div class="w-3/4">
                                                <p class="text-gray-900 leading-none">{{client.name}}</p>
                                            </div>
                                            <div class="w-1/4">
                                                <inertia-link :href="route('user.edit', {id: client.id})">
                                                    <font-awesome-icon class="cursor-pointer" icon="edit"/>
                                                </inertia-link>
                                            </div>
                                        </div>
                                        <p class="text-gray-600 text-xs">{{client.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../../Layouts/AppLayout'
    import JetNavLink from "../../Jetstream/NavLink";

    export default {

        props: ['sessions'],

        components: {
            AppLayout,
            JetNavLink,
        },

        methods: {
            setImage(user) {
                if(user.profile_photo_path) {
                    return `/user/profile-photo/${user.id}`;
                } else {
                    return user.profile_photo_url;
                }

            },
        }
    }
</script>

<style scoped>

</style>
