<template>
    <app-layout>
        <div class="container mx-auto">
            <div class="text-center py-6">
                <div class="text-4xl font-bold text-center mt-10">Client zips</div>
                <div v-if="editorZips.length > 0" class="flex flex-wrap">
                    <div v-for="zip in editorZips" class="w-full sm:w-full md:w-1/2 lg:w-1/3 mt-2">
                        <div class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                            <div class="text-sm text-center mb-2">
                                ID: {{zip.id}}
                            </div>
                            <div class="font-bold text-lg text-center">{{zip.filename}}
                            </div>

                            <p class="text-gray-700 mb-5 text-xs text-center">
                                File size: {{getSizeKb(zip.size)}} Kb
                            </p>

                            <div v-if="zip.project_name" class="font-bold text-sm text-center">Project name: {{zip.project_name}}
                            </div>

                            <textarea disabled v-if="zip.note" :value="zip.note" maxlength="255" class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                            <p class="font-bold text-sm text-center">
                                Uploaded by - {{zip.client.name}}
                            </p>
                            <p class="text-gray-700 text-xs text-center">
                                {{zip.client.email}}
                            </p>

                            <div class="text-center mt-3">
                                <div class="flex flex-wrap">
                                    <div class="w-1/3">
                                        <div class="text-blue-700 text-sm text-center cursor-pointer" @click="downloadZip(zip)">Download</div>
                                    </div>

                                    <div class="w-1/3">
                                        <inertia-link class="text-blue-700 text-center text-sm" :href="route('zip.edit', {id: zip.id})">
                                            Edit
                                        </inertia-link>
                                    </div>

                                    <div class="w-1/3">
                                        <div class="text-red-700 text-sm text-center cursor-pointer" @click="removeZip(zip)">Remove</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">No created zips found</span>
                    </div>
                </div>
                <div class="text-4xl font-bold text-center mt-5">Edited by you <font-awesome-icon icon="check"/></div>

                <div v-if="editedZips.length > 0" class="flex flex-wrap">
                    <div v-for="editedZip in editedZips" class="w-full md:w-2/3 lg:w-2/3 mt-2 mx-auto">

                        <div class="flex flex-wrap">
                            <div class="w-1/2">
                                <div class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                                    <div class="text-sm text-center mb-2">
                                        ID: {{editedZip.uploaded_zip.id}}
                                    </div>
                                    <div class="font-bold text-lg text-center">{{editedZip.uploaded_zip.filename}}
                                    </div>

                                    <p class="text-gray-700 text-xs text-center">
                                        Before edit
                                    </p>

                                    <br/>

                                    <p class="text-gray-700 mb-5 text-xs text-center">
                                        File size: {{getSizeKb(editedZip.uploaded_zip.size)}} Kb
                                    </p>

                                    <div v-if="editedZip.uploaded_zip.project_name" class="font-bold text-sm text-center">Project name: {{editedZip.uploaded_zip.project_name}}
                                    </div>

                                    <textarea disabled v-if="editedZip.uploaded_zip.note" :value="editedZip.uploaded_zip.note" maxlength="255" class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                    <p class="font-bold text-sm text-center">
                                        Uploaded by - {{editedZip.uploaded_zip.client.name}}
                                    </p>
                                    <p class="text-gray-700 text-xs text-center">
                                        {{editedZip.uploaded_zip.client.email}}
                                    </p>

                                    <div class="text-xs text-gray-700 text-center mb-5 mt-5">
                                        Date - {{moment(editedZip.created_at).format("YYYY-MM-DD")}}
                                        <br/>
                                        {{moment(editedZip.created_at).format("h:mm a") }}
                                    </div>

                                    <div class="text-center mt-3">
                                        <div class="flex flex-wrap">
                                            <div class="w-full">
                                                <div class="text-blue-700 text-sm text-center cursor-pointer" @click="downloadZip(editedZip.uploaded_zip)">Download</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="w-1/2">
                                <div class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                                    <div class="text-sm text-center mb-2">
                                        ID: {{editedZip.id}}
                                    </div>
                                    <div class="font-bold text-lg text-center">{{editedZip.filename}}
                                    </div>

                                    <p class="text-gray-700 text-xs text-center">
                                        After edit
                                    </p>

                                    <br/>

                                    <p class="text-gray-700 mb-5 text-xs text-center">
                                        File size: {{getSizeKb(editedZip.size)}} Kb
                                    </p>

                                    <div v-if="editedZip.uploaded_zip.project_name" class="font-bold text-sm text-center">Project name: {{editedZip.uploaded_zip.project_name}}
                                    </div>

                                    <textarea disabled v-if="editedZip.note" :value="editedZip.note" maxlength="255" class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                    <p class="font-bold text-sm text-center">
                                        Edited by - {{editedZip.editor.name}}
                                    </p>
                                    <p class="text-gray-700 text-xs text-center">
                                        {{editedZip.editor.email}}
                                    </p>

                                    <div class="text-xs text-gray-700 text-center mb-5 mt-5">
                                        Date - {{moment(editedZip.updated_at).format("YYYY-MM-DD")}}
                                        <br/>
                                        {{moment(editedZip.updated_at).format("h:mm a") }}
                                    </div>

                                    <div class="text-center mt-3">
                                        <div class="flex flex-wrap">
                                            <div class="w-full">
                                                <div class="text-blue-700 text-sm text-center cursor-pointer" @click="downloadEditedZip(editedZip)">Download</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <span class="block sm:inline">No edited zips found</span>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import moment from 'moment';
    export default {
        name: "EditorZips",
        props: ['editorZips', 'editedZips'],
        components: {AppLayout},
        data() {
            return {
                moment: moment
            }
        },
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            removeZip(zip) {
                this.$swal.fire({
                    title: `Delete ${zip.filename}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.$inertia.delete(`/editor/zip/delete/${zip.id}`);
                    }
                })
            },

            downloadZip(zip) {
                axios({
                    url: `${window.location.origin}/editor/zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.client.name}_${zip.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedZip(zip) {
                axios({
                    url: `${window.location.origin}/editor/edited-zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.editor.name}_${zip.filename}`);
                    fileLink.click();
                })
            },
        }
    }
</script>

<style scoped>

</style>
