<template>
    <app-layout>
        <div v-if="!loading">
            <div class="py-6 container mx-auto">
                <div class="flex flex-wrap">
                    <div class="w-full sm:w-full md:w-1/2 lg:w-1/2 mt-2 mx-auto">
                        <div class="text-4xl font-bold text-center mt-10">Client zip</div>
                        <div
                            class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                            <div class="font-bold text-lg text-center">{{editZip.filename}}
                            </div>

                            <p class="text-gray-700 text-xs text-center">
                                File size: {{getSizeKb(editZip.size)}} Kb
                            </p>

                            <br/>
                            <p class="font-bold text-sm text-center">
                                Uploaded by - {{editZip.client.name}}
                            </p>
                            <p class="text-gray-700 text-xs text-center">
                                {{editZip.client.email}}
                            </p>
                        </div>
                    </div>

                    <div class="w-full sm:w-full md:w-1/2 lg:w-1/2 mt-2 mx-auto">
                        <div class="text-4xl font-bold text-center mt-10">New zip</div>
                        <form @submit.prevent="updateZip" method="post" enctype="multipart/form-data">
                            <div class="text-center py-2">
                                <input type="file" class="hidden"
                                       name="zip"
                                       accept=".zip"
                                       ref="zip"
                                       @change="updatePreview"/>
                            </div>

                            <div v-if="filePreview" class="text-sm mt-1 text-center">{{fileName}} -
                                {{getSizeKb(fileSize)}} Kb
                            </div>

                            <div v-if="filePreview" class="text-center">
                                <jet-secondary-button class="mt-2 mr-2 mb-2 mx-auto" type="submit">
                                    Update
                                </jet-secondary-button>
                            </div>

                        </form>

                        <div class="text-center">
                            <jet-secondary-button class="mt-2 mr-2 mx-auto" type="button"
                                                  @click.native.prevent="selectNewZip">
                                Select A zip file
                            </jet-secondary-button>

                            <jet-secondary-button v-if="filePreview" @click.native.prevent="removeFile" type="button"
                                                  class="mt-2">
                                Remove file
                            </jet-secondary-button>
                        </div>

                        <textarea v-if="filePreview" v-model="note" placeholder="Write your note here about the edited zip" maxlength="255"class="resize-y mt-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <Loading/>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import JetSecondaryButton from "../../Jetstream/SecondaryButton";
    import Loading from "../../Shared/Loading";

    export default {
        components: {
            AppLayout,
            JetSecondaryButton,
            Loading
        },
        props: ['editZip', 'user'],
        name: "EditZip.vue",
        data() {
            return {
                filePreview: null,
                fileSize: 0,
                fileName: null,
                loading: false,
                note: ""
            }
        },
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            removeFile() {
                this.filePreview = null;
                this.fileSize = 0;
                this.fileName = null;
                this.$refs.zip.value = null;
            },

            updatePreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.filePreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.zip.files[0]);

                this.fileSize = this.$refs.zip.files[0].size;
                this.fileName = this.$refs.zip.files[0].name
            },

            selectNewZip() {
                this.$refs.zip.click();
            },

            updateZip() {
                this.loading = true;
                this.$inertia.put('/updateClientZip', {
                    'id': this.editZip.id,
                    'client_id': this.editZip.client.id,
                    "file": this.filePreview,
                    'size': this.fileSize,
                    'editor_id': this.user.id,
                    'note': this.note,
                }).then(() => {
                    //window.location.href = "/editor-zips";
                }).catch(() => {
                    this.loading = false;
                })
            },
        },
    }
</script>
