<template>
    <app-layout>
        <div class="container mx-auto py-6">
            <div v-if="zip">
                <table class="table-auto bg-white border w-full sm:w-full md:w-full lg:w-2/3 mx-auto">
                    <thead>
                    <tr>
                        <th class="px-4 py-2 border">Uploaded Zip
                            <br/>
                            <inertia-link v-if="!zip.is_edited && $page.role.role_id == 2"
                                          class="text-blue-700 text-center text-sm"
                                          :href="route('zip.edit', {id: zip.id})">
                                Edit
                            </inertia-link>
                        </th>
                        <th class="px-4 py-2 border">Edited Zip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-bind:key="zip.id">
                        <td class="border px-4 py-2">

                            <div class="text-sm text-center mb-2">
                                ID: {{zip.id}}
                            </div>

                            <p class="text-gray-700 text-xs mb-5 text-center">
                                File size: {{getSizeKb(zip.size)}} Kb
                            </p>
                            <div v-if="zip.project_name" class="font-bold text-sm text-center">Project name:
                                {{zip.project_name}}
                            </div>
                            <textarea v-if="zip.note" disabled :value=zip.note maxlength="255"
                                      class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                            <p class="font-bold text-sm text-center">
                                Uploaded by - {{zip.client.name}}
                            </p>
                            <p class="text-gray-700 text-xs text-center">
                                {{zip.client.email}}
                            </p>

                            <br/>

                            <div class="text-xs text-gray-700 text-center mb-5">
                                Date - {{moment(zip.created_at).format("YYYY-MM-DD")}}
                                <br/>
                                {{moment(zip.created_at).format("h:mm a") }}
                            </div>

                            <div class="flex flex-wrap">
                                <div class="w-full text-center">
                                    <div class="text-blue-700 text-sm text-center cursor-pointer"
                                         @click="downloadZip(zip)">Download
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td class="border px-4 py-2">
                            <div v-if="zip.is_edited === 1">
                                <p class="text-gray-700 mb-5 text-xs text-center">
                                    File size: {{getSizeKb(zip.edited_zip.size)}} Kb
                                </p>

                                <div v-if="zip.project_name" class="font-bold text-sm text-center">Project name:
                                    {{zip.project_name}}
                                </div>

                                <textarea v-if="zip.edited_zip.note" disabled :value=zip.edited_zip.note
                                          maxlength="255"
                                          class="mb-5 p-2 resize-y border w-full rounded focus:outline-none focus:shadow-outline"></textarea>

                                <p class="font-bold text-sm text-center">
                                    Edited by - {{zip.edited_zip.editor.name}}
                                </p>
                                <p class="text-gray-700 text-xs text-center">
                                    {{zip.edited_zip.editor.email}}
                                </p>

                                <br/>

                                <div class="text-xs text-gray-700 text-center mb-5">
                                    Date - {{moment(zip.updated_at).format("YYYY-MM-DD")}}
                                    <br/>
                                    {{moment(zip.updated_at).format("h:mm a") }}
                                </div>

                                <div class="flex flex-wrap">
                                    <div class="w-full text-center">
                                        <div class="text-blue-700 text-sm text-center cursor-pointer"
                                             @click="downloadEditedZip(zip.edited_zip)">Download
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mx-auto" v-else>
                                <p class="font-bold mb-3 text-sm">Waiting for edit</p>
                                <font-awesome-icon icon="clock" size="3x"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div
                    class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"
                    role="alert">
                    <span class="block sm:inline">No zip found</span>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import moment from "moment";

    export default {
        props: ['zip'],
        components: {
            AppLayout
        },
        data() {
            return {
                'moment': moment,
                'role': "",
            }
        },
        created() {
            if (this.$page.role.role_id === 2) {
                this.role = "editor";
            } else if (this.$page.role.role_id === 3) {
                this.role = "client";
            } else if (this.$page.role.role_id === 1) {
                this.role = "admin";
            }
        },
        name: "SingleImage",
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            downloadZip(zip) {
                axios({
                    url: `${window.location.origin}/${this.role}/zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.client.name}_${zip.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedZip(zip) {
                axios({
                    url: `${window.location.origin}/${this.role}/edited-zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.editor.name}_${zip.filename}`);
                    fileLink.click();
                })
            }

        },
    }
</script>
