<template>
    <app-layout>
        <div class="container mx-auto">
            <div v-if="!loading">
                <div class="text-4xl font-bold text-center mx-auto mt-10">Upload your Zips</div>
                <form @submit.prevent="uploadZip" method="post" enctype="multipart/form-data">
                    <div class="text-center mt-2">

                        <input type="file" class="hidden"
                               name="zip"
                               accept=".zip"
                               ref="zip"
                               @change="updatePreview"/>
                    </div>

                    <div v-if="filePreview" class="text-sm mt-3 text-center">{{fileName}} - {{getSizeKb(fileSize)}} Kb
                    </div>

                    <div v-if="filePreview" class="text-center">
                        <jet-secondary-button class="mt-2 mr-2 mb-5 mx-auto" type="submit">
                            Upload
                        </jet-secondary-button>
                    </div>

                </form>

                <div class="text-center">
                    <jet-secondary-button class="mt-2 mr-2 mx-auto" type="button"
                                          @click.native.prevent="selectNewZip">
                        Select A zip file
                    </jet-secondary-button>

                    <jet-secondary-button v-if="filePreview" @click.native.prevent="removeFile" type="button"
                                          class="mt-2">
                        Remove file
                    </jet-secondary-button>
                </div>

                <div class="text-center">
                    <input v-model="projectName" v-if="filePreview" placeholder="Project name"
                           class="resize-y mt-5 p-2 border w-1/2 rounded focus:outline-none focus:shadow-outline"/>
                    <textarea v-if="filePreview" v-model="note" placeholder="Write your note here" maxlength="255"
                              class="resize-y mt-5 p-2 border w-1/2 rounded focus:outline-none focus:shadow-outline"></textarea>

                </div>

<!--                <div class="text-4xl font-bold text-center mt-10">My created zips</div>-->
<!--                <div v-if="zips.length > 0" class="flex flex-wrap">-->
<!--                    <div v-for="zip in zips" class="w-full sm:w-full md:w-1/2 lg:w-1/3 mt-2">-->
<!--                        <div-->
<!--                            class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">-->

<!--                            <div class="text-sm text-center mb-2">-->
<!--                                ID: {{zip.id}}-->
<!--                            </div>-->

<!--                            <div class="font-bold text-lg text-center">{{zip.filename}}-->
<!--                            </div>-->

<!--                            <p class="text-gray-700 text-xs text-center mb-5">-->
<!--                                File size: {{getSizeKb(zip.size)}} Kb-->
<!--                            </p>-->

<!--                            <div v-if="zip.project_name" class="font-bold text-sm text-center">Project name: {{zip.project_name}}-->
<!--                            </div>-->

<!--                            <textarea disabled v-if="zip.note" :value="zip.note" maxlength="255"-->
<!--                                      class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                            <div class="text-xs text-gray-700 text-center mb-5 mt-5">-->
<!--                                Date - {{moment(zip.created_at).format("YYYY-MM-DD")}}-->
<!--                                <br/>-->
<!--                                {{moment(zip.created_at).format("h:mm a") }}-->
<!--                            </div>-->

<!--                            <div class="text-center mt-3">-->
<!--                                <div class="flex flex-wrap">-->
<!--                                    <div class="w-1/2">-->
<!--                                        <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                             @click="downloadZip(zip)">Download-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="w-1/2">-->
<!--                                        <div class="text-red-700 text-sm text-center cursor-pointer"-->
<!--                                             @click="removeZip(zip)">Remove-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div v-else>-->
<!--                    <div-->
<!--                        class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"-->
<!--                        role="alert">-->
<!--                        <span class="block sm:inline">No created zips found</span>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="text-4xl font-bold text-center mt-5">Edited-->
<!--                    <font-awesome-icon icon="check"/>-->
<!--                </div>-->
<!--                <div v-if="filteredEditedZips.length > 0" class="flex flex-wrap">-->
<!--                    <div v-for="editedZip in filteredEditedZips" class="w-full md:w-2/3 lg:w-2/3 mt-2 mx-auto">-->

<!--                        <div class="flex flex-wrap">-->
<!--                            <div class="w-1/2">-->
<!--                                <div-->
<!--                                    class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">-->

<!--                                    <div class="text-sm text-center mb-2">-->
<!--                                        ID: {{editedZip.uploaded_zip.id}}-->
<!--                                    </div>-->

<!--                                    <div class="font-bold text-lg text-center">{{editedZip.uploaded_zip.filename}}-->
<!--                                    </div>-->

<!--                                    <p class="text-gray-700 text-xs text-center">-->
<!--                                        Before edit-->
<!--                                    </p>-->

<!--                                    <br/>-->

<!--                                    <p class="text-gray-700 mb-5 text-xs text-center">-->
<!--                                        File size: {{getSizeKb(editedZip.uploaded_zip.size)}} Kb-->
<!--                                    </p>-->

<!--                                    <div v-if="editedZip.uploaded_zip.project_name" class="font-bold text-sm text-center">Project name: {{editedZip.uploaded_zip.project_name}}-->
<!--                                    </div>-->

<!--                                    <textarea disabled v-if="editedZip.uploaded_zip.note"-->
<!--                                              :value="editedZip.uploaded_zip.note" maxlength="255"-->
<!--                                              class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                                    <p class="font-bold text-sm text-center">-->
<!--                                        Uploaded by - {{editedZip.uploaded_zip.client.name}}-->
<!--                                    </p>-->
<!--                                    <p class="text-gray-700 text-xs text-center">-->
<!--                                        {{editedZip.uploaded_zip.client.email}}-->
<!--                                    </p>-->

<!--                                    <div class="text-xs text-gray-700 text-center mb-5 mt-5">-->
<!--                                        Date - {{moment(editedZip.uploaded_zip.created_at).format("YYYY-MM-DD")}}-->
<!--                                        <br/>-->
<!--                                        {{moment(editedZip.uploaded_zip.created_at).format("h:mm a") }}-->
<!--                                    </div>-->

<!--                                    <div class="text-center mt-3">-->
<!--                                        <div class="flex flex-wrap">-->
<!--                                            <div class="w-full">-->
<!--                                                <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                                     @click="downloadZip(editedZip.uploaded_zip)">Download-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                            <div class="w-1/2">-->
<!--                                <div-->
<!--                                    class="bg-white px-6 py-4 mr-1 ml-1 mb-2 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">-->

<!--                                    <div class="text-sm text-center mb-2">-->
<!--                                        ID: {{editedZip.id}}-->
<!--                                    </div>-->

<!--                                    <div class="font-bold text-lg text-center">{{editedZip.filename}}-->
<!--                                    </div>-->

<!--                                    <p class="text-gray-700 text-xs text-center">-->
<!--                                        After edit-->
<!--                                    </p>-->

<!--                                    <br/>-->

<!--                                    <p class="text-gray-700 mb-5 text-xs text-center">-->
<!--                                        File size: {{getSizeKb(editedZip.size)}} Kb-->
<!--                                    </p>-->

<!--                                    <div v-if="editedZip.uploaded_zip.project_name" class="font-bold text-sm text-center">Project name: {{editedZip.uploaded_zip.project_name}}-->
<!--                                    </div>-->
<!--                                    <textarea disabled v-if="editedZip.note" :value="editedZip.note" maxlength="255"-->
<!--                                              class="resize-y mb-5 p-2 border w-full rounded focus:outline-none focus:shadow-outline"></textarea>-->

<!--                                    <p class="font-bold text-sm text-center">-->
<!--                                        Edited by - {{editedZip.editor.name}}-->
<!--                                    </p>-->
<!--                                    <p class="text-gray-700 text-xs text-center">-->
<!--                                        {{editedZip.editor.email}}-->
<!--                                    </p>-->

<!--                                    <div class="text-xs text-gray-700 text-center mb-5 mt-5">-->
<!--                                        Date - {{moment(editedZip.created_at).format("YYYY-MM-DD")}}-->
<!--                                        <br/>-->
<!--                                        {{moment(editedZip.created_at).format("h:mm a") }}-->
<!--                                    </div>-->

<!--                                    <div class="text-center mt-3">-->
<!--                                        <div class="flex flex-wrap">-->
<!--                                            <div class="w-full">-->
<!--                                                <div class="text-blue-700 text-sm text-center cursor-pointer"-->
<!--                                                     @click="downloadEditedZip(editedZip)">Download-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div v-else>-->
<!--                    <div-->
<!--                        class="bg-red-100 mt-10 border w-1/2 text-center mx-auto border-red-400 text-red-700 px-4 py-3 rounded relative"-->
<!--                        role="alert">-->
<!--                        <span class="block sm:inline">No edited zips found</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <div v-else>
                <Loading/>
            </div>
        </div>
    </app-layout>
</template>

<script>

    import AppLayout from "../../Layouts/AppLayout";
    import JetSecondaryButton from "../../Jetstream/SecondaryButton";
    import Loading from "../../Shared/Loading";
    import moment from 'moment';

    export default {
        name: "ZipUpload.vue",
        props: ['user', 'zips', 'editedZips'],
        components: {
            Loading,
            AppLayout,
            JetSecondaryButton
        },
        data() {
            return {
                filePreview: null,
                fileSize: 0,
                fileName: null,
                projectName: "",
                note: "",
                loading: false,
                moment: moment
            }
        },

        computed: {
            filteredEditedZips() {
                return this.editedZips.filter(e => e.uploaded_zip.client_id === this.user.id);
            }

        },
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },
            updatePreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.filePreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.zip.files[0]);

                this.fileSize = this.$refs.zip.files[0].size;
                this.fileName = this.$refs.zip.files[0].name
            },

            selectNewZip() {
                this.$refs.zip.click();
            },

            uploadZip() {
                this.loading = true;
                this.$inertia.post('/upload-zip', {
                    "file": this.filePreview,
                    'size': this.fileSize,
                    'client_id': this.user.id,
                    'note': this.note,
                    'project_name': this.projectName
                }).then(() => {
                    this.filePreview = null;
                    this.fileSize = 0;
                    this.fileName = null;
                    this.note = "";
                    this.projectName = "";
                    this.loading = false;
                }).finally(() => {
                    this.$refs.zip.value = null;
                })
            },

            downloadZip(zip) {
                axios({
                    url: `${window.location.origin}/client/zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.client.name}_${zip.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedZip(zip) {
                axios({
                    url: `${window.location.origin}/client/edited-zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.editor.name}_${zip.filename}`);
                    fileLink.click();
                })
            },

            removeZip(zip) {
                this.$swal.fire({
                    title: `Delete ${zip.filename}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.$inertia.delete(`/zip/delete/${zip.id}`);
                    }
                })
            },

            removeFile() {
                this.filePreview = null;
                this.fileSize = 0;
                this.fileName = null;
                this.$refs.zip.value = null;
            }
        }
    }
</script>
