<template>
    <div class="container py-12 mx-auto">
        <div class="bg-white rounded p-10">
            <div class="text-2xl font-bold">Admin dashboard</div>
            <div class="text-sm">In this dashboard you can track activity of clients and editors.</div>
            <br/>
            <div class="text-sm">To manage users, press 'Users' in the navigation bar.</div>
        </div>

        <div class="text-4xl font-bold text-center mt-5">Image jobs</div>
        <br/>

        <div v-if="!loadingImages">
            <div class="bg-white border rounded text-sm" style="overflow-x:auto;">
                <table class="text-center w-full border-collapse p-3">
                    <thead>
                    <tr>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Date <br/>
                            <select v-model="month" v-on:change="searchImages"
                                    class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option value="all">All</option>
                                <option value="this">This month</option>
                                <option value="last">Last month</option>
                                <option value="last12">Last 12 months</option>
                            </select>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold  text-sm text-grey-dark border-b border-grey-light">
                            Job name<br/>
                            <input v-model="projectName" v-on:change="searchImages" placeholder="Enter job name"
                                   type="text"
                                   class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"/>

                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Job ID <br/>
                            <input v-model="jobId" v-on:change="searchImages" placeholder="Enter job id" type="number"
                                   class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"/>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Status <br/>
                            <select v-model="isEdited" v-on:change="searchImages"
                                    class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 mb-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option value="2">All</option>
                                <option value="1">Completed</option>
                                <option value="0">Submitted</option>
                            </select>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">

                        </th>
                    </tr>
                    </thead>
                    <tbody v-if="images.data.length > 0">
                    <tr v-for="image in images.data" v-bind:key="image.id" class="hover:bg-grey-lighter">
                        <td class="py-1 px-6 border-b border-grey-light">
                            {{moment(image.created_at).format("YYYY-MM-DD")}}
                        </td>
                        <td class="py-1 px-6 border-b border-grey-light">
                            <div class="text-sm font-bold mb-2">{{ image.project_name }}</div>
                            <div class="text-xs">
                                <inertia-link class="text-blue-700 text-center text-sm" :href="route('image.view', {id: image.id})">
                                    {{image.filename}}
                                </inertia-link>
                            </div>
                        </td>
                        <td class="py-1 px-6 border-b border-grey-light">{{ image.id }}</td>
                        <td class="py-1 px-6 border-b border-grey-light">
                            <div v-if="image.is_edited">
                                Completed
                                <font-awesome-icon icon="check"/>
                            </div>
                            <div v-else>
                                Submitted
                                <font-awesome-icon icon="clock"/>
                            </div>
                        </td>
                        <td class="py-1 px-6 text-center border-b border-grey-light">
                            <div class="text-center" v-if="image.is_edited">
                                <div class="text-blue-700 text-sm text-center cursor-pointer"
                                     @click="downloadEditedImage(image.edited_image)">
                                    Download
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="5" class="text-center text-red-700 px-4 py-3">
                            No images found
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <paginate
                v-model="images.current_page"
                :pageCount="images.last_page"
                :containerClass="'pagination'"
                :clickHandler="paginateImages">
            </paginate>

        </div>
        <div v-else>
            <Loading/>
        </div>

        <div class="text-4xl font-bold text-center mt-5">Zip jobs</div>
        <br/>

        <div v-if="!loadingZips">
            <div class="bg-white border rounded text-sm" style="overflow-x:auto;">
                <table class="text-center w-full border-collapse p-3">
                    <thead>
                    <tr>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Date <br/>
                            <select v-model="zipMonth" v-on:change="searchZips"
                                    class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option value="all">All</option>
                                <option value="this">This month</option>
                                <option value="last">Last month</option>
                                <option value="last12">Last 12 months</option>
                            </select>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold  text-sm text-grey-dark border-b border-grey-light">
                            Job name<br/>
                            <input v-model="zipProjectName" v-on:change="searchZips" placeholder="Enter job name"
                                   type="text"
                                   class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"/>

                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Job ID <br/>
                            <input v-model="zipJobId" v-on:change="searchZips" placeholder="Enter job id" type="number"
                                   class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"/>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">
                            Status <br/>
                            <select v-model="isZipEdited" v-on:change="searchZips"
                                    class="block appearance-none w-52 mx-auto bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 mb-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option value="2">All</option>
                                <option value="1">Completed</option>
                                <option value="0">Submitted</option>
                            </select>
                        </th>
                        <th class="py-1 px-6 bg-grey-lightest font-bold text-sm text-grey-dark border-b border-grey-light">

                        </th>
                    </tr>
                    </thead>
                    <tbody v-if="zips.data.length > 0">
                    <tr v-for="zip in zips.data" v-bind:key="zip.id" class="hover:bg-grey-lighter">
                        <td class="py-1 px-6 border-b border-grey-light">
                            {{moment(zip.created_at).format("YYYY-MM-DD")}}
                        </td>
                        <td class="py-1 px-6 border-b border-grey-light">
                            <div class="text-sm font-bold mb-2">{{ zip.project_name }}</div>
                            <div class="text-xs">
                                <inertia-link class="text-blue-700 text-center text-sm" :href="route('zip.view', {id: zip.id})">
                                    {{zip.filename}}
                                </inertia-link>
                            </div>
                        </td>
                        <td class="py-1 px-6 border-b border-grey-light">{{ zip.id }}</td>
                        <td class="py-1 px-6 border-b border-grey-light">
                            <div v-if="zip.is_edited">
                                Completed
                                <font-awesome-icon icon="check"/>
                            </div>
                            <div v-else>
                                Submitted
                                <font-awesome-icon icon="clock"/>
                            </div>
                        </td>
                        <td class="py-1 px-6 text-center border-b border-grey-light">
                            <div class="text-center" v-if="zip.is_edited">
                                <div class="text-blue-700 text-sm text-center cursor-pointer"
                                     @click="downloadEditedZip(zip.edited_zip)">
                                    Download
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="5" class="text-center text-red-700 px-4 py-3">
                            No zips found
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <paginate
                v-model="zips.current_page"
                :pageCount="zips.last_page"
                :containerClass="'pagination'"
                :clickHandler="paginateZips">
            </paginate>

        </div>
        <div v-else>
            <Loading/>
        </div>
    </div>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import Label from "../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Label";
    import moment from 'moment';
    import Paginate from 'vuejs-paginate'
    import Loading from "../../Shared/Loading";

    export default {
        name: "AdminDashboard",
        components: {Loading, Label, AppLayout, Paginate},
        data() {
            return {
                'moment': moment,

                'images': [],
                'zips': [],

                'loadingImages': true,
                'loadingZips': true,

                'isZipEdited': 2,
                'zipJobId': "",
                "zipProjectName": "",
                "zipMonth": "all",

                'isEdited': 2,
                'jobId': "",
                'projectName': "",
                'month': "all",
            }
        },

        async created() {
            await axios.get(`/images/search/status/${this.isEdited}/image/${!!this.jobId ? this.jobId : null}/project/${!!this.projectName ? this.projectName : null}/month/${!!this.month ? this.month : null}`)
                .then((response) => {
                    this.images = response.data;
                    this.loadingImages = false;
                });
            await axios.get(`/zips/search/status/${this.isZipEdited}/zip/${!!this.zipJobId ? this.zipJobId : null}/project/${!!this.zipProjectName ? this.zipProjectName : null}/month/${!!this.zipMonth ? this.zipMonth : null}`)
                .then((response) => {
                    this.zips = response.data;
                    this.loadingZips = false;
                });
        },

        methods: {
            paginateImages: function (page) {
                axios.get(`/images/search/status/${this.isEdited}/image/${!!this.jobId ? this.jobId : null}/project/${!!this.projectName ? this.projectName : null}/month/${!!this.month ? this.month : null}`, {
                    params: {page}
                }).then((response) => {
                    this.images = response.data;
                });
            },

            paginateZips: function (page) {
                axios.get(`/zips/search/status/${this.isZipEdited}/zip/${!!this.zipJobId ? this.zipJobId : null}/project/${!!this.zipProjectName ? this.zipProjectName : null}/month/${!!this.zipMonth ? this.zipMonth : null}`,
                    {
                        params: {page},
                    }
                ).then((response) => {
                    this.zips = response.data;
                    this.loadingZips = false;
                });
            },

            searchImages() {
                axios.get(`/images/search/status/${this.isEdited}/image/${!!this.jobId ? this.jobId : null}/project/${!!this.projectName ? this.projectName : null}/month/${!!this.month ? this.month : null}`)
                    .then((response) => {
                        this.images = response.data;
                    });
            },

            searchZips() {
                axios.get(`/zips/search/status/${this.isZipEdited}/zip/${!!this.zipJobId ? this.zipJobId : null}/project/${!!this.zipProjectName ? this.zipProjectName : null}/month/${!!this.zipMonth ? this.zipMonth : null}`)
                    .then((response) => {
                        this.zips = response.data;
                        this.loadingZips = false;
                    });
            },

            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            setImage(image) {
                return `/admin/image/${image}`
            },

            setEditedImage(imageId) {
                return `/admin/edited-image/${imageId}`

            },

            downloadImage(image) {
                axios({
                    url: `${window.location.origin}/admin/image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.client.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedImage(image) {
                axios({
                    url: `${window.location.origin}/admin/edited-image/${image.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${image.editor.name}_${image.filename}`);
                    fileLink.click();
                })
            },

            downloadZip(zip) {
                axios({
                    url: `${window.location.origin}/admin/zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.client.name}_${zip.filename}`);
                    fileLink.click();
                })
            },

            downloadEditedZip(zip) {
                axios({
                    url: `${window.location.origin}/admin/edited-zip/${zip.id}`,
                    method: "GET",
                    responseType: "blob",
                }).then((response) => {
                    const fileUrl = window.URL.createObjectURL(new Blob([response.data]));
                    const fileLink = document.createElement('a');
                    fileLink.href = fileUrl;
                    fileLink.setAttribute('download', `${zip.editor.name}_${zip.filename}`);
                    fileLink.click();
                })
            }
        }
    }
</script>
