<template>
    <app-layout>

        <div v-if="role.role_id === 1">
            <admin-dashboard/>
        </div>

        <div v-if="role.role_id == 2">
            <EditorDashboard/>
        </div>

        <div v-if="role.role_id == 3">
            <client-dashboard/>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '../../Layouts/AppLayout'
    import AdminDashboard from "./AdminDashboard";
    import ClientDashboard from "./ClientDashboard";
    import EditorDashboard from "./EditorDashboard";
    import SecondaryButton
        from "../../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/SecondaryButton";

    export default {

        props: ['role'],

        components: {
            SecondaryButton,
            AdminDashboard,
            ClientDashboard,
            EditorDashboard,
            AppLayout,
        },
    }
</script>
