<template>
    <app-layout>
        <div class="container mx-auto">
            <div v-if="!loading">
                <div class="text-4xl font-bold text-center mx-auto mt-10">Background removal</div>
                <div class="mt-2">
                    <div class="text-center">
                        <jet-secondary-button class="mt-2 text-center" type="button"
                                              @click.native.prevent="selectNewPhoto">
                            Select photos
                        </jet-secondary-button>
                        <jet-secondary-button type="button" class="mt-2" @click.native.prevent="deletePhoto"
                                              v-if="selectedImages.length > 0">
                            Reset
                        </jet-secondary-button>
                        <form @submit.prevent="removeBackgrounds" method="post" enctype="multipart/form-data">
                            <input type="file" class="hidden"
                                   accept="image/jpeg, image/png"
                                   ref="photo"
                                   multiple
                                   @change="updatePhotoPreview">
                            <jet-secondary-button type="submit" class="mt-2"
                                                  v-if="selectedImages.length > 0">
                                Remove backgrounds
                            </jet-secondary-button>
                        </form>
                    </div>

                    <div class="flex flex-wrap mx-auto">
                        <div class="w-full mx-auto mb-10" v-for="image in selectedImages">

                            <div class="flex flex-wrap">
                                <div class="w-full sm:w-full md:w-full lg:w-1/2 mt-5">
                                    <div class="text-2xl font-bold text-center">Before</div>
                                    <img width="500" height="500" class="mx-auto rounded mb-4" :src="image.photoPreview"/>
                                    <div class="font-bold text-lg mb-1 text-center">
                                        Size: {{image.width }} x {{image.height}}
                                    </div>
                                    <p class="text-gray-700 text-sm text-center mb-2">
                                        File size: {{getSizeKb(image.size)}} Kb
                                    </p>
                                </div>
                                <div class="w-full sm:w-full md:w-full lg:w-1/2 mt-5">
                                    <div class="text-2xl font-bold text-center">After</div>
                                    <div v-if="!image.imageWithoutBg.preview && !image.imageWithoutBg.error">
                                        <div class="text-sm mt-10 mb-10 text-center">
                                            Your image without a background will appear here.
                                        </div>

                                    </div>
                                    <div v-else-if="image.imageWithoutBg.error">
                                        <div class="text-xl text-red-400 mt-10 mb-10 text-center">{{image.imageWithoutBg.error}}</div>
                                    </div>
                                    <div v-else>
                                        <img width="500" height="500" class="mx-auto rounded mb-4"
                                             :src="image.imageWithoutBg.preview"/>
                                        <div class="font-bold text-lg mb-1 text-center">
                                            Size: {{image.imageWithoutBg.width }} x {{image.imageWithoutBg.height}}
                                        </div>
                                        <p class="text-gray-700 text-sm text-center mb-2">
                                            File size: {{getSizeKb(image.imageWithoutBg.size)}} Kb
                                        </p>

                                        <div class="text-center">
                                            <jet-secondary-button class="mt-2 text-center" type="button"
                                                                  v-if="image.imageWithoutBg.preview"
                                                                  @click.native.prevent="downloadNoBackgroundImage(image.imageWithoutBg.preview)">
                                                Download this image
                                            </jet-secondary-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
            <div v-else>
                <Loading/>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from "../../Layouts/AppLayout";
    import JetSecondaryButton from "../../Jetstream/SecondaryButton";
    import InputError from "../../Jetstream/InputError";
    import Loading from "../../Shared/Loading";
    import download from 'downloadjs';

    export default {
        name: "BgRemoval.vue",
        components: {
            AppLayout,
            JetSecondaryButton,
            InputError,
            Loading
        },
        data() {
            return {
                selectedImages: [],
                imagesWithoutBg: [],
                loading: false
            }
        },
        methods: {
            getSizeKb(val) {
                return (Math.round(val) / 1000).toFixed(2);
            },

            updatePhotoPreview() {
                let files = this.$refs.photo.files;
                let sizes = [];
                let widths = [];
                let heights = [];
                let photoPreviews = [];

                for (let i = files.length - 1; i >= 0; i--) {
                    sizes.push(files[i].size);
                    let reader = new FileReader();
                    reader.onload = evt => {
                        let img = new Image();
                        img.src = evt.target.result;
                        img.onload = () => {
                            widths.push(img.width);
                            heights.push(img.height);
                        }
                        photoPreviews.push(evt.target.result);
                    }

                    reader.onerror = evt => {
                        console.error(evt);
                    }
                    reader.readAsDataURL(files[i]);
                }

                let images = [...this.selectedImages];

                setTimeout(function () {
                    let id = images.length + 1;
                    for (let i = files.length - 1; i >= 0; i--) {
                        images.push({
                            'id': id++,
                            'size': sizes[i],
                            'width': widths[i],
                            'height': heights[i],
                            'photoPreview': photoPreviews[i],
                            'imageWithoutBg': {
                                'preview': null,
                                'error': '',
                                'size': null,
                                'width': null,
                                'height': null,
                            },
                        })
                    }
                }, 1000);

                this.selectedImages = images;



            },

            async removeBackgrounds() {

                this.loading = true;

                for(let i = 0; i < this.selectedImages.length; i++) {
                    try {
                        const response = await axios.post('/removeBackground', {
                            'image': this.selectedImages[i].photoPreview
                        });

                        if (response.data.imageWithoutBackground) {
                            this.selectedImages[i].imageWithoutBg.preview = response.data.imageWithoutBackground.base64;
                            this.selectedImages[i].imageWithoutBg.width = response.data.imageWithoutBackground.width;
                            this.selectedImages[i].imageWithoutBg.height = response.data.imageWithoutBackground.height;
                            this.selectedImages[i].imageWithoutBg.size = response.data.imageWithoutBackground.fileSize;
                            this.selectedImages[i].imageWithoutBg.error = null;
                        } else if (response.data[0].code === "unknown_foreground") {
                            this.selectedImages[i].imageWithoutBg.error = "Could not identify foreground in image."
                        } else if(response.data[0].code === "insufficient_credits") {
                            this.selectedImages[i].imageWithoutBg.error = "Insufficient credits!";
                        } else if(response.data[0].code === "auth_failed") {
                            this.selectedImages[i].imageWithoutBg.error = "Authorization failed!";
                        }

                        this.loading = false;

                    } catch (error) {
                        if (error.response.status === 500) {
                            this.selectedImages[i].imageWithoutBg.error = "Server error. Try again later.";
                        }
                    }
                }

                this.loading = false;
            },

            downloadNoBackgroundImage(image) {
                download(image, "no-background", 'image/png');
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            deletePhoto() {
                this.selectedImages = [];
                this.$refs.photo.value = null;
            },
        }
    }
</script>

<style scoped>

</style>
