<template>
    <div>
        <div class="p-10" v-if="$page.role.role_id === 1">
            <div class="text-xl font-bold">Admin dashboard</div>
        </div>
        <div class="p-10" v-else-if="$page.role.role_id === 2">
            <div class="text-xl font-bold">Editor dashboard</div>
        </div>
        <div class="p-10" v-else-if="$page.role.role_id === 3">
            <div class="text-xl font-bold">Client dashboard</div>
        </div>
    </div>
</template>

<script>
    import JetApplicationLogo from './../Jetstream/ApplicationLogo'

    export default {

        props: ['sessions'],
        components: {
            JetApplicationLogo,
        },

        created() {

        },

        methods: {}
    }
</script>
